.wrap {
  width: 300px;
  height: 300px;
  border: 5px solid rgb(255, 28, 176);
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  color: #fff;
  font-size: 25px;
  margin-left: 34px;
}
